body {
  margin: 0;
    text-align: center;
}

h3 {
  color: #bedbbb;
  font-family: 'Kanit', sans-serif;
  font-size: 2.875rem;
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #92817a;
  border-width: 10px;
  margin-top: 50px;
  width: 25%;
}

a {
  padding-top: 0;
}

p {
  color: #686d76;
  font-family: sans-serif;
  font-size: 2rem;
  width: 30%;
  margin: auto;
  line-height: 2;
}

.top-container {
  background-color: #92817a;
  position: relative;
}

.tony {
  width: 180px;
  margin: auto;
}

.name {
  color: #bedbbb;
  font-family: 'Kanit', sans-serif;
  font-size: 4.6875rem;
  margin: 0;
}

.header {
  color: #8db596;
  font-family: 'Pacifico', cursive;
  font-size: 3.675rem;
}

.skills-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skills {
  width: 100%;
}

.webdev {
  width: 150px;
  float: left;
  padding-right: 35px;
}

.python {
  width: 200px;
  float: right;
  padding-left: 35px;
}

.sql {
  width: 200px;
  float: left;
  padding-right: 35px;
}

.intro {
  margin: 0 auto 50px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 40px;
   font-weight: 100;
   padding: 30px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 0;
   background-color: #92817a;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #BEDBBB;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #bedbbb;
  padding: 50px 0 20px;
  margin-top: 100px;
}

.footer-link {
  color: #92817a;
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  padding: 35px;
}

.footer-link:hover {
  color: #8db596;
}

#copyright {
  color: white;
  font-family: serif;
  font-size: .75rem;;
}
